{% extends "network/layout.html" %}

{% block body %}

{% if view_user %}
<div class=" row justify-content-center">
  <div class="card my-3 bg-info align-self-center text-center col-6" id="post{{post.id}}">
    <div class="card-body">
      <h2>{{view_user}}</h2>
      <p id="followerCount">Followers: {{followers}}</p>
      <p>Following: {{following}}</p>
      {% if request.user != view_user%}
        {% if follow %}
          <button name={{view_user}} id="followButton" class="btn btn-danger">Unfollow</button>
        {% else %}
          <button name={{view_user}} id="followButton" class="btn btn-primary">Follow</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% else %}
{% if page_title %}
  <h2 class="mt-4" id="pageTitle">{{page_title}}</h2>
{% endif %}
  <!-- New post form -->
  <div class="my-3 p-3 bg-light" id="newPostDiv">
      <form method="POST" action="{% url 'index' %}">
          {% csrf_token %}
          <div class="mb-3">
            <h3>New Post</h3>
            <textarea maxlength="280" class="form-control" id="postText" name="text" rows="5"></textarea>
          </div>
          <button id="sendPost" type="submit" class="btn btn-primary">Send</button>
        </form>
  </div>


{% endif %}

{% csrf_token %}

{% for post in posts %}

  <!-- <div class="card" style="width: 18rem;"> -->
  <div class="card my-3 bg-light" id="post{{post.id}}">
    <div class="card-body">
      <a href="{% url 'userpage' post.user %}"><h5 class="card-title">{{post.user}}</h5></a>
      <div id="editTextDiv{{post.id}}" style="display: none;">
          <div class="mb-3">
            <textarea maxlength="280" class="form-control" id="textarea{{post.id}}" name="text" rows="3">{{post.text}}</textarea>
          </div>
          <button id="updateButton{{post.id}}" class="btn btn-primary">Update</button>
          <button id="updateCancelButton{{post.id}}" class="btn btn-primary">Cancel</button>

      </div>
      <div id="textDiv{{post.id}}" class="py-2">
        <p class="card-text">{{post.text}}</p>
      </div>
      
      <h6 class="card-subtitle my-2 text-muted">{{post.time_stamp}}</h6>
      {% if post in liked_posts %}
      <a href="#" class="card-link text-danger text-decoration-none"><i name="{{post.id}}" class="bi bi-suit-heart-fill like-heart"> </i><span id="like-count-{{post.id}}" class="like-num">{{post.likes}}</span></a>
      {% else %}
      <a href="#" class="card-link text-danger text-decoration-none"><i name="{{post.id}}" class="bi bi-suit-heart like-heart"> </i><span id="like-count-{{post.id}}" class="like-num">{{post.likes}}</span></a>
      {% endif %}
      {% if post.user == request.user %}
        <a href="#" class="card-link"><button id="{{post.id}}" class="btn btn-outline-primary py-0 editButton">Edit</button> </a>  
      {% endif %}
      
    </div>
  </div>

{% endfor %}

{% endblock %}